.logincont{
    background-color: white;
    padding:30px;
    border-top-left-radius:20px ;
    border-top-right-radius:20px ;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    /* height: 50vh; */
    margin: 10px;
    margin-top: 15px;
    
}
.MuiOutlinedInput-root .MuiOutlinedInput-notchedOutline{

    border-color:rgb(rgb(66, 138, 33));
}
.MuiOutlinedInput-root .MuiOutlinedInput-notchedOutline:hover{

    border-color:rgb(rgb(66, 138, 33));
}
.MuiOutlinedInput-root .MuiOutlinedInput-notchedOutline:focus{

    border-color:rgb(rgb(66, 138, 33));
}
.textfield{
    color:rgb(rgb(66, 138, 33));
   }
   .textfield:hover{
    color:rgb(rgb(66, 138, 33));
   }
      
.inputgrid{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    padding-top: 10px;
}
.link{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    color: rgb(66, 138, 33);
    
}
.buttoncolor{
    color:#fff;
    background-color:rgb(66, 138, 33);
    
}
.buttoncolor:visited{
    color:#fff;
    background-color:rgb(66, 138, 33);
    
}

.inputelement{
    display: flex;
    align-items: center;
    justify-content: center;
}