
.logincont1{
    background-color: white;
    padding:20px;
    border-top-left-radius:20px ;
    border-top-right-radius:20px ;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    /* height: 100vh; */
    margin: 10px;
    margin-top: 15px;
    
}
.MuiOutlinedInput-root .MuiOutlinedInput-notchedOutline{

    border-color:rgb(rgb(66, 138, 33));
}
.MuiOutlinedInput-root .MuiOutlinedInput-notchedOutline:hover{

    border-color:rgb(rgb(66, 138, 33));
}
.MuiOutlinedInput-root .MuiOutlinedInput-notchedOutline:focus{

    border-color:rgb(rgb(66, 138, 33));
}
.textfield{
    color:rgb(rgb(66, 138, 33));
   }
   .textfield:hover{
    color:rgb(rgb(66, 138, 33));
   }
      
.inputgrid1{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
  
}
.select{
 
    padding: 10px;
  
}
.buttoncolor{
    color:#fff;
    background-color:rgb(66, 138, 33);
    border: 1px solid rgb(66, 138, 33);
}

.inputelement{
    display: flex;
    align-items: center;
    justify-content: center;
}