.upperdiv{
padding: 5px;
position: fixed;
top: 0;
width: 100%;
background-color: black;
z-index: 1000;

}
.flex-box{
    display: flex;
    justify-content: space-between;
}
.text{
    display: inline-flex;
    color: white;
    padding: 2px;

}
.bottomMenuBar{
    border-top: 1px solid gray;
    padding: 10px;
    position: fixed;
    bottom: 0;
    z-index: 1000;
    width: 100%;
    color:white;
    background-color: black;
}
.cart-text{
    display: flex;
    justify-content: space-between;
    align-items: center;
}